# this config assumes a mysql database named 'orthomcl'.  adjust according
# to your situation.
dbVendor=mysql 
dbConnectString=dbi:mysql:armita_orthomcl:149.155.34.104:3306:mysql_local_infile=1 
dbLogin=armita_orthomcl
dbPassword=armita_orthomcl
similarSequencesTable=orthoMCL_SimilarSequences
orthologTable=orthoMCL_Ortholog
inParalogTable=orthoMCL_InParalog
coOrthologTable=orthoMCL_CoOrtholog
interTaxonMatchView=orthoMCL_interTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-30
oracleIndexTblSpc=NONE
